p {
    margin: 0 !important;
  }
  
  #boxcar- {
    padding: 0;
    height: 402px;
  }
  
  .cloudimage-360.initialized {
    width: 73% !important;
  }
  
  .active {
    border: 2px solid #2198dc !important;
  }
  .bg-color{
    background-color: #fff;
    
    
  }
  .header{
    border: 1px solid #ccc;

    background-image: radial-gradient( circle 975px at 2.6% 48.3%,  rgba(0,8,120,1) 0%, rgba(95,184,224,1) 99.7% );
    color: #fff;
    opacity: 0.7;
    margin: 0 0 15px 0 !important;
  }

  .bg-car {
    background-color: #e5e5e5;
  }
  .model{
    border-radius: 15px;
  }
  .crystal {
    border: 2px solid #dbdbdb ;
    margin-bottom: 10px;
  }
  #carCurrent{
    border-radius: 15px;

  }
  .col-6{
    border-radius: 15px;
  }
  .crystal:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    scale: 1.1;
    transition: all 0.25s;}
  
  .crystal .thumb {
    display: table-cell;
  }
  
  .crystal .thumb img {
    height: 5rem;
    padding-bottom: 0.8rem;
    padding-left: 0.8rem;
    padding-top: 0.8rem;
    width: auto;
  }
  
  .crystal .color-info {
    display: table-cell;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    vertical-align: middle;
  }
  
  .description {
    margin-top: 10px;
  }
  
  .included {
    color: #dbdbdb;
  }
  .price {
    color: #2198dc;
    font-size: 15px;
  }
  